body{

font-family:Arial;

background:#f5f7fb;

}


nav{

background:#111936;

color:white;

padding:20px;

}



.container{

width:85%;

margin:40px auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px #ddd;

}



.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}



input,select{

padding:15px;

border-radius:8px;

border:1px solid #ccc;

}



button{

margin-top:30px;

padding:15px 40px;

background:#5937f5;

color:white;

border:none;

border-radius:10px;

font-size:18px;

}



.card{

margin:25px;

padding:25px;

border-radius:15px;

box-shadow:0 3px 15px #ddd;

}



.circle{

height:170px;

width:170px;

border-radius:50%;

background:red;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

margin:auto;

}



.danger{

text-align:center;

color:red;

}